
#prenex
{
	float:auto;
}

#pre
{
	float:left;
}

#nex
{
	float:right;
}

#t3
{
	width:40%;
	border:2px solid #383858;
}

#t3
{ 
	float:auto;
	text-align:left;
}  

#myText { text-align:right; } 

#t1, #t2
{
	width:48%;
	border:2px solid #383858;
}

#t1
{
	float:left;
	text-align:left;
}  

#t2
{ 
    float:right;
    text-align:left;
}  


		
body
{
	background-color:black; /*whitish*/
	font-family:"Verdana", Sans-serif;
 /*font-size:100%;*/
/*background: url(../images/skull.jpg)*/
}

a.b
{
	color: #00DB00;
 /*white #00DB00;   light blue #57b5e0 #3b83bd*/
text-decoration:underline;
}


table
{
	border-collapse: collapse;
	width:100%;
	text-align:center;
}

table.blue
{
   border-collapse: collapse;
}

tr:nth-child(odd) 
{
  background-color:#0D0D0D; blackish
 /* background-color:#dfdfdf; whitish*/
  /*background-color:rgb(150,255,255);*/
  /*background-color:cyan;*/
}

tr:nth-child(even) 
{
  background-color:black;
}

tr.blank 
{
	background-color:black;
}

tr.blank2 
{
	background-color: black;
}

tr.trq 
{
/*	text-align:left;*/
  background-color:#383858;
}

td
{
	padding-right: 6px
}

td.blue
{
	padding-right: 18px
}

#container
{
width: 99%;
/*width: 90%;*/
margin: 10px auto;

background-color: black;
color: white;
border: 5px solid #383858;  /*white*/
line-height: 130%;
}

#top
{
padding: 1em;
background-color: #383858;
border: 10px solid #383858;
text-decoration:none;
}

#top a
{
	color: #00DB00;
	text-decoration: none;
}


#top h1
{
text-decoration:none;
padding: 0;
margin: 0;
}



#wrapper
{
border: 10px solid #383858;
background-color: #383858;
}


#top2
{
	float:left;
	width:40%;
	padding: 1em;
	background-color: #383858;
	border: 0px solid #383858;
	text-decoration:none;
}

#top2 a
{
	color: #00DB00;
	text-decoration: none;
}


#top2 h1
{
	text-decoration:none;
	padding: 0;
	margin: 0;
}


#lname
{
	margin-left: 300px;
	padding: 1em;
	border: 0px solid #383858;
	background-color: #383858;
	text-align: right;
	color: white;
}


#leftnavpre
{
	background-color: black;
	float: left;
	width: 200px;
	margin: 0;
	border-right: 3px solid #383858;
	padding: 1em;
}

a
{
	color: #00DB00; white #00DB00;
	/*color: blue; /*white #00DB00;*/
	text-decoration:none;
}

#leftnav
{
height: fill;
float: left;
width: 155px;
margin: 0;
padding: 1em;
background-color: black;
border-right: 3px solid #383858;
}

#contentpre
{
	margin-left: 232px;
	padding: 1em;
	/*max-width: 37em;*/
	border-left: 3px solid #383858;
	background-color: black;
}

#content
{
color: white;/*#00DB00;*/
margin-left: 187px;
padding: 1em;
padding-bottom: 1.5em;
/*max-width: 37em;*/
border-left: 3px solid #383858;
background-color: black; /*#383858; black;*/
}


#content2
{
padding: 1em;
border: 2px solid black;
background-color: black;
}

#contentblank
{
padding: 1em;
border: 2px solid white;
background-color: black;
}

#footer
{
	color:white;
	clear: both;
	margin: 0;
	padding: .5em;
	background-color: #383858; 
	border: 0px solid #383858;
}

#footer a
{
	color: #00DB00;
}

#lbox
{
	float:left;
	width:40%;
	text-decoration:none;
}

#rbox
{
	margin-left: 350px;
	text-align: right;
}

#leftnav p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }
